<div class="footer">



<div class="left">

    MARINA ARNOLDOVNA WILGELM <br>
    DESIGN & CODE <br>
    <br>
    MARINA.WILHELM(AT)ICLOUD.COM<br>
    +49 (0) 176 617 865 51<br>

</div>



<div class="right">
&copy; 2018 NONESENSE PETITION<br>
WEBSITE by MAW.<br>
BERLIN<br>
</div

</div>
