

<div class="menu">

<a href="/home">NONESENSE PETITION</a>

<div class="right">
 <a href="/about">ABOUT</a>

 <a href="/profile/edit">PROFILE</a>
 <a href="/logout">LOG OUT</a>






</div>

</div>
