{{>aboutnav}}

<div class="background">


<div class="squareAbout">
    ABOUT


</div>

    <div class="about">
    <p>    Under the pretence of a petition I'm showcasing my work using technology
        such as:</p>

        <ul>
            <li>javascript</li>
            <li>css</li>
            <li>handlebars.js</li>
            <li>PostgreSQL</li>
            <li>node.js</li>
            <li>express.js</li>



        </ul>
    </div>


</div>







{{>footer}}
