{{>menu}}

<div class="home">

    Nonsense petition for absolutely nothing. <a href="./register">Register Now!</a>
    With an account you can edit
    <!-- <a id="profile" href="./profile"><img src="./profile.png" alt="profile"></a> -->
<a class="profile" href="./profile"><img src="./profile.png" alt="profile"></a>
<!-- <img id="profileg"src="./profileg.png" alt="profileg" -->

     your profile, submit your signature

     <a href="./signup"><img class="signature"src="./signature.png" alt="signature"></a>
     and see everyone else who
    supports this site <a href="./supporter"><img class="eye"src="./eye.png" alt="eye"></a>.
    Don't worry, you can also delete  <a href="./profile/edit"><img class="delete"src="./delete.png" alt="trash"></a>your account if you want to.
</div>


{{>footer}}
